// ----------------------- COLORS ---------------------
$color-left-side:#efeee9;
$color-right-side:#eeebdf;
$color-gray: #455a64;
$color-gray-dark: #373e42;
$color-green: #00bfa5;

// ----------------- SCREEN RESOLUTIONS ----------------
$tv: 1800px;
$b-desktop: 1400px;
$desktop: 1200px;
$a-desktop: 1000px;
$b-tablets: 820px;
$tablets:768px;
$b-phones: 495px;
$phones:480px;
$iphone: 320px;